data/
raw_data/
*.ipynb
credentials.json
target/
dbt_packages/
*/logs/*
*/raw_data/*
*/data/*
*.csv
*/logs/*
*.xlsx
*.ipynb_checkpoints
*.DS_Store
dbt_env/
logs/
*.bashrc
bbref/google.txt
*/__pycache__/*