**/substack_visualizations/ 
*.pyc
**/.ipynb_checkpoints/
*/raw_data/
*/data
**.DS_Store
*.db
**/db_data_backup
**/db_backup
**/benchmark_data
*.csv
*.zip
*.ipynb
token.json
.bashrc
backup.sql
**/*.ipynb
college_bbref/Scraping Notebook.ipynb
dbt_env/
